<% provide :page_title, 'Details' %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-5 mb-5 details-page">
        <div class="row">
          <div class="col">
            <h1 class="text-center header">Factorio Helper Details</h1>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h4 class="text-center">Custom Recipe Uploads</h4>
            <div class="d-flex justify-content-center mt-4">
              <p>Factorio Helper lets you upload your own custom recipes, and lets you browse them the same way you browse the base game recipes. In order to do this, you must first create an account. Wfter creating an account, you can head to the upload page and upload your custom recipes.</p>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <p>Custom recipes must be in a JSON file that follows this format:</p>
            </div>
            <div class="d-flex justify-content-center mt-4">
              <pre>
{
  "recipes": [
    {
        "name": "Recipe Name",
        "inputs":
        {
            "Input Name": input-amount,
            etc...
        },
        "outputs":
        {
            "Output Name": output-amount,
            etc...
        },
        "energy": production-time
    },
    etc...
  ]
}
              </pre>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h4 class="text-center">Data Exporter Mod</h4>
            <div class="d-flex justify-content-center mt-4">
              <p>To make getting the recipe data from your game, use the Data Exporter mod. This mod adds the "/export" console command, which will generate a JSON file for you. This mod can be found on the Factorio mod portal.</p>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <%= link_to 'Mod Portal', 'https://mods.factorio.com/mod/data-exporter', class: 'btn btn-outline-primary round mb-4' %>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h4 class="text-center">Support</h4>
            <div class="d-flex justify-content-center mt-4">
              <p>Unfortunately, hosting is not free. If you like Factorio Helper and want to keep it running, you can donate using the link below</p>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBNn7sNwcGv54zTbruQhw+0hd0L06G4BLAW0hYnSYqndOgfadaCEV/phyaKpaIPj5g0uDn3joVwTc9Kgmn7hMc04a8Yxb6hOFJ17MJJcW3rxfT4Xx/yfYIuP6Yi7HnA69Z3M4jRQFufsh7envmtINQEHE2ep70yKvsPL6N7NOJjazELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIPuj7UdSsdceAgZANLooPRE64wUeg6ufz0d/cRYNJxcVhx8OYT0iUaTgOMZpE5FIIVWkLv5Wvb+fABkgGUz7glOl2jyaghh2GePShoZ8HiyW1zsoooV0Go56XTce6oAZCGXBdkLn+DzV7ZksA3hP8hqyEcX3kJAyuv1E88ABnHU7p3fVtjGt498Z3Zexq1HcavUMkhBLKMH2jayOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xODAzMjUwMjI5NDhaMCMGCSqGSIb3DQEJBDEWBBTnOuxMRWp2FK4LfwYA/iBUb4gHKTANBgkqhkiG9w0BAQEFAASBgDHbQMcBUH+SVead0XxQhnSFduwbiXq+t2fgw4uW9T4eERRqJfwxAwSwCOBBMHwxs6l53n0c8PIMInxksTrEzky+5/TUNNAV111E65AylhaWAlbF1ufLdZN/5lJBHBsVrYF8ch6//NyAhMTayxPHcGEzgZFdCYjQxaZ4TMHcKQv3-----END PKCS7-----
                ">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
