<% provide :page_title, 'Welcome' %>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="jumbotron">
      <p class="lead">Welcome to</p>
      <h1 class="display-4">Factorio Helper</h1>
      <hr class="my-4">
      <p>Something about browsing recipes</p>
      <p class="lead">
        <%= link_to 'Browse', '#', class: 'btn btn-primary', role: 'button' %>
      </p>
      <hr class="my-4">
      <p>Something about creating an account and uploading recipes</p>
      <p class="lead">
        <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary', role: 'button' %>
      </p>
      <small class="text-muted">Already have an account? <%= link_to 'Login', login_path %></small>
    </div>
  </div>
</div>
