<% provide :page_title, 'Welcome' %>
<h3>What is Factorio Helper?</h3>
<p>
  Factorio Helper is a utility that makes dealing with Factorio recipes less painful. Start browsing recipes now or create an account to upload your own set of recipes.
</p>
