<% provide :page_title, 'Welcome' %>

<div class="row justify-content-center">
  <div class="jumbotron">
    <p class="lead">Welcome to</p>
    <h1 class="display-4">Factorio Helper</h1>
    <hr class="my-4">
    <p>Want to see what Factorio Helper can do for you? Get started browsing the base game recipes.</p>
    <p class="lead">
      <%= link_to 'Browse', browse_path, class: 'btn btn-primary', role: 'button' %>
    </p>
    <hr class="my-4">
    <p>Do you play a modded Factorio? Create an account to upload and manage a custom set of recipes.</p>
    <p class="lead">
      <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary', role: 'button' %>
    </p>
    <small class="text-muted">Already have an account? <%= link_to 'Login', login_path %></small>
  </div>
</div>
