<li class="list-group-item d-flex flex-row ingredient" data-name=<%= ingredient.name %> data-type=<%= ingredient.input? ? 'input' : 'output' %>>
  <span class="mr-auto"><%= "#{ingredient.name}" %></span>
  <span class=""><%= "#{ingredient.amount}" %></span>
</li>
