<li class="list-group-item list-group-item-action d-flex flex-row ingredient" data-name=<%= ingredient.name %>>
  <span class="mr-auto"><%= "#{ingredient.name}" %></span>
  <span class=""><%= "#{ingredient.amount}" %></span>
</li>
