<div class="col-sm-6 recipe-col">
  <div class="recipe card fill-parent" data-name=<%= recipe.name %>>
    <%= link_to "#{recipe.name}", recipe, class: 'header' %>
    <div class="row">
      <div class="col-sm-6">
        <p>Inputs</p>
        <ul class="list-group">
          <%= render partial: 'ingredient', collection: recipe.inputs %>
        </ul>
      </div>
      <div class="col-sm-6">
        <p>Outputs</p>
        <ul class="list-group">
          <%= render partial: 'ingredient', collection: recipe.outputs %>
        </ul>
      </div>
    </div>
  </div>
</div>
