<% provide :page_title, @recipe.name %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mt-5">
        <div class="row">
          <div class="col">
            <h1 class="text-center calc-header"><%= "#{@recipe.name}" %></h1>
          </div>
        </div>
        <div class="row calc-display" id="want-display">
          <%= render partial: 'calc', locals: { recipe: @recipe } %>
        </div>
      </div>
    </div>
  </div>
</div>

