// Colors
$orange: #fd7037;

$green-lighten-2: #52be7f;
$green-lighten-1: #45ad70;
$green: #207945;

$blue-lighten-1: #00a9e8;
$blue: #009dd7;

$dark-grey: #333742;
$dark-grey-darken-1: #282c36;

$blue-grey-lighten-2: #959fb0;
$blue-grey-lighten-1: #8899aa;
$blue-grey: #798f9a;
$blue-grey-darken-1: #565b6a;

$grey-darken-1: #a9bdc7;
$grey-darken-2: #9fb4bf;
$grey: #bac9d1;

$light-grey: #eef2f4;
