// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-area {
    margin-top: 2rem;
    padding: 1rem 2rem 2rem 2rem;
    background-color: $dark-grey-darken-1;

    label {
        padding-left: 1rem;
    }

    .form-group {
        small {
            padding-left: 1rem;
        }
    }
}

.account-detail {
    background-color: $dark-grey-darken-1;
    padding-bottom: 2rem;

    .header {
        padding: .5rem 0 .75rem 0;
        font-weight: 300;
        border: 1px solid $orange;
        border-radius: 1rem 1rem 0 0;
    }
}
