<!-- Header -->
<div class="navbar-expand-lg header">
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Logo</a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item <%= set_active_nav_item signup_path %>">
        <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= set_active_nav_item login_path %>">
        <%= link_to 'Log In', login_path, class: 'nav-link' %>
      </li>
    </ul>
  </nav>
</div>
